// home sections
.h-banner,
.h-papers,
.h-about,
.h-articles {
	// background-color: #f4f4f4;
}

.h-recent,
.h-books,
.h-lectures,
.h-organization {
	// background-color: #f8f8f8;
}

.h-tafseer {
}
.h-newsletter {
}
// ----------------------------------------------
.side-nav {
	width: 300px;
	height: 100vh;
	background: #f9f9f9;
	position: fixed;
	top: 0;
	overflow: auto;
	// margin-top: -5.25rem;
}
.content {
	// width: calc(100% - 300px);
	margin-left: auto;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #f9f9f9;
}
// .content_without_footer {
// 	min-height: 110vh;
// 	padding-bottom: 225px;
// }
.header-container {
	width: calc(100% - 300px);
	margin-left: auto;
}

.main-content {
	//background-color: #e6eff4;
	// background-color: #f4f4f4;
	// border-top-left-radius: 30px;
	padding: 1px;
}

.h-some-lecs.h3-quote,
.h-assunnah-trust.h3-quote {
	background-color: unset;
}
.h-some-lecs .h3-quote-right {
	margin: 0;
}
.h-some-lecs .h3-quote-left {
	padding-right: 1rem;
	border-right: 5px solid #edf2f7;
	align-items: center;
}
.h-some-lecs .h3-quote-left h2 {
	font-size: 2rem;
}
.h-some-lecs .recent-ctn {
	padding-top: 56.25%;
}
.h-some-lecs .recent-ctn {
	width: 100%;
	margin: auto;
}
.h-some-lecs .h3-quote-right__wrap {
	margin: auto;
}
.h-assunnah-trust .h3-quote-left {
	align-items: center;
}
.h-assunnah-trust .h3-quote-right {
	margin: 2rem 0;
}
.h-assunnah-trust .h3-quote-right h2 {
	display: -webkit-box;
	-webkit-line-clamp: 8;
	-webkit-box-orient: vertical;
	overflow: hidden;
	line-height: 1.4;
	word-break: break-word;
}
.h-assunnah-trust .col-r {
	margin-bottom: 0;
}

.see-more-1 {
	color: var(--main-color);
	font-size: 1.1rem;
	font-weight: 600;
}

.h-sec .hoverable-card {
	padding-top: 8px !important;
}

@media only screen and (max-width: 1140px) {
	.side-nav {
		display: none;
	}
	.content-wrapper {
		width: 100%;
		left: 0;
	}
	.header-container {
		width: 100%;
	}
}

.h-sec .recent-slider-outer {
	display: none;
}
// responsive
@media only screen and (max-width: 768px) {
	.content-wrapper {
		padding-top: 56px;
	}
}
@media only screen and (max-width: 600px) {
	.h-some-lecs .row-r {
		display: block;
	}
	.h-some-lecs .h3-quote-left {
		align-items: center;
		border: unset;
	}
	// .h-some-lecs .recent-ctn {
	// 	padding-top: 70%;
	// }
	.h-assunnah-trust .h3-quote-right {
		border: unset;
	}
}
@media only screen and (min-width: 601px) {
	.h-sec .mobile {
		display: none;
	}
	.h-sec .recent-slider-outer {
		display: block;
	}
}
