/*------- variables -------*/
:root {
  //--clr11: #667EEA;
  //--clr11: #3e7474;
  --clr11: #155197;

  --bg11: #f8f8f8;
  --bg12: #e2e8f0;
  --bg13: #edf2f7;
  --bg14: #ffffff;

  --txt11: #718096;
  --txt12: #2d3748;
  --txt13: #ffffff;

  --bdr11: #a0aec0;

  --bs11: 1px 1px 5px 0px rgba(1, 1, 1, 0.05);
  --bs12: 0px 2px 4px rgba(46, 41, 51, 0.08), 0px 5px 10px rgba(71, 63, 79, 0.16);

  --mode-light: block;
  --mode-dark: none;

  //--main-color: #667EEA;
  //--main-color: #3e7474;
  --main-color: #106690;
  --txt11: #525252;
}
